.container {
    background: white;
    padding: 20px 25px;
    border: 5px solid #26a69a;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 10%;
  }
  .col.s6 > .btn {
     width: 100%;
  }
  radio:required {
    border-color: red;
  }
  .container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  }
  
  @keyframes showUp {
    0% {
      transform: scale(0);
    }
    100% {
      transoform: scale(1);
    }
  }
  .row {margin-bottom: 10px;}
  
  .ngl {
    position: absolute;
    top: -20px;
    right: -20px;
  }

  body {
    background-image: url("https://wallpaperaccess.com/full/3086351.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }

.card {
  /* background-color:transparent; */
}

.card .card-image img {
  /* width: 305px; */
}

#recipe-container {
    background: transparent;
    padding: 20px 25px;
    border:none;
    height: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 10%;
}

.btn-floating.halfway-fab {
  bottom: 0px;
  right: 0px;
}

.navbar-fixed {
  position: fixed;
  top: 0;
}

h3 {
  text-align: center;

}

@media only screen and (max-width: 570px) {
  .container {
    margin-top: 20%;
  }
}

.user-div {
  position: absolute;
  bottom: 1px;
}