/* Elements */

body {
  background-image: url("https://wallpaperaccess.com/full/3086351.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

radio:required {
  border-color: red;
}
  
@keyframes showUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

h3 {
  text-align: center;
}

textarea {
  resize: none;
}

/* Media Queries */

@media only screen and (max-width: 570px) {
  .container {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-top: 10%;
  }
}

/* Classes */

.navbar-fixed {
  position: fixed;
  top: 0;
}

.recipe-height {
  height: 100% !important;
}

.recipe-img {
  height: 400px;
}

.container {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  height: auto;
  box-sizing: border-box;
  position: relative;
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

.col.s6 > .btn {
  width: 100%;
}

.ngl {
  position: absolute;
  top: -20px;
  right: -20px;
}

.row {
  margin-bottom: 10px;
}

.user-div {
  position: absolute;
  bottom: 1px;
}

.expand {
  height: 1000px !important;
}

.Hide {
  display: none;
}

.no-margin {
  margin: 0;
}

.text-height {
  height: 100px;
}

.btn-floating.halfway-fab {
  top: 0px;
  right: 0px;
  position: fixed;
}

.title-div {
  text-align: center;
  color: white;
  background-color: #ee6e73;
}

/* IDs */

#transition {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.18, 1.3, 1, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: showUp;
}

#del-btn {
  position: absolute;
  right: 0;
}

#edit-btn {
  position: absolute;
  left: 0;
}

#recipe-container {
  background: transparent;
  padding: 20px 25px;
  border:none;
  height: auto;
  box-sizing: border-box;
  position: relative;
  margin-top: 10%;
}