{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>Add recipe!</h3>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="input_text" type="text" data-length="20">
                <label for="input_text">Recipe name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea2" class="materialize-textarea" data-length="400"></textarea>
                <label for="textarea2">Write your recipe</label>
            </div>
        </div>
    </form>
</div>
</div>

{% endblock %}