{% extends "base.html" %}
{% block content %}

<div class="row card-panel grey lighten-5">
  <form action="{{ url_for('search') }}" method="post" class="col s12">
      <div class="row align-wrapper center-align">
          <div class="input-field col s12 m6 offset-m3 l4 offset-l4 m-top-0">
              <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
              <input type="text" name="query" id="query" minlength="3" class="validate" required>
              <label for="query">Search</label>
          </div>
          <div class="col s12">
              <a href="{{ url_for('home') }}" class="red btn text-shadow">Reset</a>
              <button type="submit" class="light-blue darken-1 btn text-shadow">
                  <i class="fas fa-search left"></i> Search
              </button>
          </div>
      </div>
  </form>
</div>

<div class="container" id="recipe-container">
  <div class="row">
    <!--column-->
    {% for recipe in recipes %}
    <div id="transition" class="col l4 m6 s12">
      <!-- card-->
      <div class="card large hoverable">
        <div class="title-div"><span class="card-title">{{ recipe.recipe_name }}</span></div>
        <div class="card-image">
          <a href="{{ url_for('recipe_info', recipe_id=recipe._id) }}"  class="btn-floating halfway-fab waves-effect waves-light red">
            <i id="icon" class="large material-icons">add</i>
          </a>
          <img width="305" alt="recipe image" height="229"
            src="{{ recipe.recipe_img }}">
        </div>
        <div class="card-content"> 
          <p>{{ recipe.recipe_method }}</p>
        </div>
        <div class="user-div">
          <p class="black-text"><b>Created By: {{ recipe.created_by }}</b></p>
        </div>
        <div class="col l4 m4 s4 offset-l8 offset-m8 offset-s8 user-div">
          <p class="no-margin">
              <i class="fas fa-carrot"></i>
              <span>{{ recipe.is_vegetarian }}</span>
          </p>
          <p class="no-margin">
              <i class="fas fa-leaf"></i>
              <span>{{ recipe.is_vegan }}</span>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}