{% extends "base.html" %}
{% block content %}
<div class="container">
    <section class="center-align">
        {% with logout_flash = get_flashed_messages(category_filter=["logout_flash"]) %}
            {% if logout_flash %}
                {%- for message in logout_flash %}
                    <div>
                        <h3>{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <div class="row">
        <form class="col s12" id="reg-form" method="POST" action="{{ url_for('login') }}">
            <div class="row">
                <!-- username -->
                <div class="input-field col s12 m8 offset-m2">
                    <input id="username" name="username" type="text" minlength="6" maxlength="16" pattern="^[a-zA-Z0-9]{6,16}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <input id="password" name="password" type="password" class="validate" minlength="6" maxlength="16" pattern="^[a-zA-Z0-9]{6,16}$" required>
                    <label for="password">Password</label>
                    {% with incorrect_flash = get_flashed_messages(category_filter=["incorrect_flash"]) %}
                        {% if incorrect_flash %}
                            {%- for message in incorrect_flash %}
                                <div>
                                    <p class="red-text">{{ message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <!-- login -->
            <div class="row">
                <div class="input-field col s12 m8 offset-m2">
                    <button class="btn btn-large btn-register waves-effect waves-light" type="submit"
                        name="action">Log In
                        <i class="material-icons right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}