{% extends "base.html" %}
{% block content %}

<div class="container" id="recipe-container">
    <div class="row">
      <!--column-->
      {% for recipe in recipes %}
       {% if recipe_id == recipe.id %}
      <div id="transition" class="col l4 m6 s12">
        <!-- card-->
        <div class="card large hoverable">
            <div class="title-div"><span class="card-title">{{ recipe.recipe_name }}</span></div>
          <div class="card-image">
            <img width="305" alt="recipe image" height="229"
              src="{{ recipe.recipe_img }}">
            <a href="{{ url_for('home') }}"  class="btn-floating halfway-fab waves-effect waves-light red">
              <i id="icon" class="large material-icons">remove</i>
            </a>
          </div>
          <div class="card-content">
            <p>{{ recipe.recipe_method }}</p>
          </div>
          <div class="user-div">
            <p class="black-text"><b>Created By: {{ recipe.created_by }}</b></p>
          </div>
          <div class="col l4 m4 s4 offset-l8 offset-m8 offset-s8 user-div">
            <p class="no-margin">
                <i class="fas fa-carrot"></i>
                <span>{{ recipe.is_vegetarian }}</span>
            </p>
            <p class="no-margin">
                <i class="fas fa-leaf"></i>
                <span>{{ recipe.is_vegan }}</span>
            </p>
          </div>
        </div>
      </div>
       {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}