{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="center-align">Your Recipes</h2>
    <div class="row">
        {% for recipe in recipes %}
        <div id="transition" class="col l4 m6 s12">
            <!-- card-->
            <div class="card large hoverable">
                <div class="card-image">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" id="edit-btn" class="waves-effect waves-light btn">EDIT</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" id="del-btn" class="waves-effect waves-light btn">DELETE</a>
                    <img width="305" height="229" alt="recipe image" src="{{ recipe.recipe_img }}">
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
                </div>
                <div class="card-content">
                    <p>{{ recipe.recipe_method }}</p>
                </div>
                <div class="col l4 m4 s4 offset-l8 offset-m8 offset-s8 user-div">
                    <p class="no-margin">
                        <i class="fas fa-carrot"></i>
                        <span>{{ recipe.is_vegetarian }}</span>
                    </p>
                    <p class="no-margin">
                        <i class="fas fa-leaf"></i>
                        <span>{{ recipe.is_vegan }}</span>
                    </p>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}